<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BAT_mini_color</key>
	<string>utilization</string>
	<key>BAT_mini_label</key>
	<true/>
	<key>Battery_barChart_position</key>
	<integer>3</integer>
	<key>Battery_batteryDetails_position</key>
	<integer>4</integer>
	<key>Battery_battery_additional</key>
	<string>none</string>
	<key>Battery_battery_color</key>
	<false/>
	<key>Battery_battery_hideAdditionalWhenFull</key>
	<true/>
	<key>Battery_battery_lowPowerMode</key>
	<false/>
	<key>Battery_battery_position</key>
	<integer>1</integer>
	<key>Battery_color</key>
	<false/>
	<key>Battery_label_position</key>
	<integer>2</integer>
	<key>Battery_mini_position</key>
	<integer>0</integer>
	<key>Battery_notifications_low</key>
	<string>0.2</string>
	<key>Battery_state</key>
	<true/>
	<key>Battery_timeFormat</key>
	<string>short</string>
	<key>Battery_widget</key>
	<string>mini</string>
	<key>Bluetooth_sensors_size</key>
	<false/>
	<key>Bluetooth_state</key>
	<false/>
	<key>CPU_mini_color</key>
	<string>utilization</string>
	<key>CPU_state</key>
	<true/>
	<key>Clock_list</key>
	<data>
	W3sidHoiOiI5IiwiZW5hYmxlZCI6dHJ1ZSwibmFtZSI6IkxvY2FsIHRpbWUiLCJpZCI6
	IjY0MzE0M0Q2LTdBQUEtNEM1My05RERELUQxMTg2NjgzMjI5RCIsImZvcm1hdCI6Inl5
	eXktTU0tZGQgSEg6bW06c3MifV0=
	</data>
	<key>Disk_removable</key>
	<true/>
	<key>Disk_state</key>
	<true/>
	<key>GPU_mini_color</key>
	<string>system</string>
	<key>GPU_showType</key>
	<true/>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSStatusItem Preferred Position Battery_mini</key>
	<real>538</real>
	<key>NSStatusItem Preferred Position CPU_mini</key>
	<real>632</real>
	<key>NSStatusItem Preferred Position Disk_mini</key>
	<real>679</real>
	<key>NSStatusItem Preferred Position Network_speed</key>
	<real>726</real>
	<key>NSStatusItem Preferred Position RAM_mini</key>
	<real>585</real>
	<key>NSStatusItem Restore Position Battery_battery</key>
	<integer>684</integer>
	<key>NSStatusItem Restore Position Bluetooth_sensors</key>
	<integer>797</integer>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>1</integer>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>559 377 800 448 0 0 1920 1055 </string>
	<key>Network_speed_monochrome</key>
	<false/>
	<key>Network_speed_value</key>
	<true/>
	<key>Network_speed_valueAlignment</key>
	<string>left</string>
	<key>Network_speed_valueColor</key>
	<true/>
	<key>Network_state</key>
	<true/>
	<key>Network_usageReset</key>
	<string>Once per week</string>
	<key>RAM_mini_color</key>
	<string>utilization</string>
	<key>RAM_state</key>
	<true/>
	<key>SSD_mini_color</key>
	<string>utilization</string>
	<key>Sensors_sensors_mode</key>
	<string>automatic</string>
	<key>Sensors_state</key>
	<false/>
	<key>ble_0E814ED4-7734-49B4-95D1-05E961FECD5A</key>
	<true/>
	<key>ble_1CD27470-F8BA-44DE-AD0E-4B5DD1976426</key>
	<true/>
	<key>ble_8E6D64BE-ACCB-4EB0-8DA6-30FFC557EAA3</key>
	<true/>
	<key>ble_fe-a3-1d-7d-dc-be</key>
	<true/>
	<key>dockIcon</key>
	<false/>
	<key>fan_0_mode</key>
	<integer>0</integer>
	<key>fan_0_speed</key>
	<integer>5297</integer>
	<key>fan_1_mode</key>
	<integer>0</integer>
	<key>fan_1_speed</key>
	<integer>4905</integer>
	<key>pause</key>
	<false/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_F0Ac</key>
	<false/>
	<key>sensor_TC1C</key>
	<false/>
	<key>telemetry</key>
	<true/>
	<key>telemetry_id</key>
	<string>C60018E1-13BF-4776-B0F4-920D551A2EF0</string>
	<key>temperature_units</key>
	<string>celsius</string>
	<key>updater_check_ts</key>
	<integer>1713064523</integer>
	<key>version</key>
	<string>2.10.7</string>
</dict>
</plist>
